@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
    font-family: "NeoDunggeunmo";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: "NeoDunggeunmo";
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../image/bg-image.png) no-repeat center/cover;
}


#regmodal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form_container {
    width: 500px;
    height: 650px;
    padding: 30px 30px 0 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgb(129, 129, 129);
    position: relative;

}

/* 테두리 */
.modal_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

/* 밖 배경 */
.top_bar {
    display: flex;
    justify-content: space-between;
}

/* 상단 등록하기, */
.uploadImg {
    margin: 30px;
}

/* 상단 바 제외한 영역 */

.imageupload {
    display: flex;
    flex-direction: column;
}

.filebox {
    width: 300px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


.imgbackground {
    background-color: white;
    width: 180px;
    height: 200px;
    margin-right: 20px;
}

.imgbackground textarea {
    width: 180px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgb(129, 129, 129);
    outline: none;
    font-size: 15px;
    resize: none;
}

/* 이미지 첨부쪽 */

.floatinglabel1 input {
    height: 50px;
    width: 170px;
    box-shadow: 0 2px 4px 0 rgb(129, 129, 129);
    margin: 8px;
    border-radius: 8px;
    display: grid;
    grid-auto-flow: column;

}

/* 이름, MBTI, 블로그 주소, github 주소 */
.modal_content textarea {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgb(129, 129, 129);
    outline: none;
    font-size: 15px;
    resize: none;
}

/* 장점, 협업스타일 */

.underlabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mybtn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mybtn button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #0a82ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;

}

.mybtn button:hover {
    background-color: #47a0ff;
}

.mybtn button:first-child {
    margin-right: 20px;
}

/* 버튼 */

/* 김언효 부분 */



.wrap {
    width: 1300px;
    height: 100%;
    margin: auto;
}

.back-card a:hover {
    background-color: #47a0ff;
    color: rgba(255, 255, 255, 0.8);
}

.logo {
    width: 100%;
    height: 80px;
    margin-bottom: 100px;
    padding-top: 50px;
}

.logo h1 {
    float: left;
    line-height: 80px;
}
.logo h1 a, h1+a{ display: block; }

.logo button {
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    float: right;
    text-align: center;
    margin-top: 20px;
    background: #fff;
    text-decoration: none;
    color: #000;
}

.card-wrap {
    width: 100%;
    height: auto;
    display: flex;

}

.card-flip {
    width: 256px;
    height: 400px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all ease 1s;
    transform-style: preserve-3d;
}

.card-flip:hover .card-inner {
    transform: rotateY(180deg);
}



.front-card,
.back-card {

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front-card>img,
.back-card>img {
    border-radius: 20px;
}

.front-card>img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

.front-card {
    background-image: url('https://img.freepik.com/free-vector/flat-design-thug-life-sunglasses-illustration_23-2150209328.jpg?w=826&t=st=1703205239~exp=1703205839~hmac=4ca364056d836fb07395ecb75d9f866abbd7e9e7e6513c7bcc112644a803f038');
    ;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}

.back-card {

    border-radius: 20px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    transform: rotateY(180deg);
}

.detailmodal {
    display: none;
}

.back-card>img {
    background-image: url('https://img.freepik.com/free-vector/flat-design-thug-life-sunglasses-illustration_23-2150209328.jpg?w=826&t=st=1703205239~exp=1703205839~hmac=4ca364056d836fb07395ecb75d9f866abbd7e9e7e6513c7bcc112644a803f038');
    ;
    background-position: center;
    background-size: cover;
    width: 134px;
    height: 160px;
    border-radius: 20px;
}

.back-card a {

    display: inline-block;
    border-radius: 20px;
}

/* 조성준님 부분 */

#retouchBg {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

label {
    color: #282828;
}

/* modal background */


/* modal 전체 틀 */
.modal_container {
    width: 410px;
    height: 540px;
    padding: 30px 30px 0 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgb(129, 129, 129);
    position: relative;
}

/* modal 닫기 버튼 */
.modal_container .close_btn {
    position: absolute;
    top: 5px;
    right: 15px;
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.modal_container .close_btn i {
    font-size: 18px;
}

/* modal 팀원 정보 틀 */
.modal_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.modal_info .user_img {
    width: 180px;
    height: 200x;
    background-color: white;
    background-position: center;
    background-size: cover;
}

.modal_info .user_img img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.user_info {
    display: flex;
    flex-direction: column;
}

.user_info label {
    margin-bottom: 3px;
}

.user_info input {
    width: 150px;
    height: 35px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px 0 rgb(129, 129, 129);
    border: none;
    outline: none;
    font-size: 16px;
}

.user_info .user_url {
    margin-top: 7px;
}

.user_info .user_url a {
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.user_info .user_url a:first-child {
    margin-right: 5px;
}

.user_info .user_url a i {
    display: block;
    margin-top: 6px;
    font-size: 28px;
    text-align: center;
}

.user_info .user_url .velog_color {
    background-color: #64db99;
    color: white;
}

.user_info .user_url .velog_color:hover {
    background-color: rgb(151, 235, 189);
}

.user_info .user_url .github_color {
    background-color: #282828;
}

.user_info .user_url .github_color:hover {
    background-color: #868686;
}

.user_info .user_url .github_color i {
    color: white;
}

/* modal 컨텐츠 틀 */
.modal_content {
    width: 100%;
}

.modal_content label {
    display: block;
    margin-bottom: 5px;
}

.modal_content textarea {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px 0 rgb(129, 129, 129);
    outline: none;
    font-size: 15px;
    resize: none;
}

.modal_content textarea:last-child {
    margin-bottom: 13px;
}

/* modal 수정, 삭제 버튼 */
.modal_btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_btns button {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #0a82ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.modal_btns button:hover {
    background-color: #47a0ff;
}

.modal_btns button:first-child {
    margin-right: 20px;
}

/* 김진성님 부분 */

.readmore {
    width: 100px;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #0a82ff;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}

/* 수정한 부분 자세히보기 버튼 색깔 */


#fixCardModal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.fixCardClass {
    display: none;
}

.hideId {
    display: none;
}

.backGround {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}